
```gitignore
# Node
node_modules
.env
.env.local

# Editor / Sistema
.DS_Store
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Test Coverage
coverage

# Docker
*.pid
*.sock
