

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Garante que o html e body ocupem a altura total */
  width: 100%;
  font-family: sans-serif; /* Uma fonte padrão para melhorar a leitura */
}

.container {
  padding: 20px; /* Adiciona algum padding para o conteúdo não colar nas bordas */
}

/* Outros estilos gerais */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 5px;
}

button {
    cursor: pointer;
}