html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Isso é MUITO IMPORTANTE! */
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  overflow-x: hidden;
  position: relative; /* ou static, mas relative é mais seguro */
}
/* Estilo para o container principal do conteúdo da página */
.main-content-container {
  padding: 20px; /* Espaçamento interno para o conteúdo */
}

/* Estilos para listas (ul) e itens de lista (li) para melhor visualização */
ul {
  list-style: none; /* Remove bolinhas da lista */
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}